@use "../helpers" as *;

.blog-actions {
  &__list {
    display: flex;
    column-gap: rem(10);

    @include laptop {
      column-gap: rem(8);
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    column-gap: rem(4);
    font-family: var(--font-family-accent);
    background-color: var(--color-dark-10);
    padding: rem(8) rem(16);
    border-radius: rem(100);
    border: var(--border);
    font-size: rem(18);
    color: var(--color-gray-60);

    @include laptop {
      column-gap: rem(2);
      font-size: rem(14);
      padding: rem(6) rem(12);
    }

    &.is-active {
      svg * {
        stroke: var(--color-red);
        fill: var(--color-red);
      }
    }
  }

  &__icon-wrapper {
    --size: #{rem(24)};
    display: flex;

    @include square(var(--size));

    @include laptop {
      --size: #{rem(20)};
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
