@use "../helpers" as *;

.expandable-content {
  --initialMaxHeight: rem(500);
  position: relative;
  overflow-y: hidden;

  &.is-expanded {
    &::before {
      @include hide;
    }

    .expandable-content__button {
        @include hide;
    }
  }

    &:not(.is-expanded) {
    max-height: var(--initialMaxHeight);
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(
      rgba(20, 20, 20, 0) 0%,
      rgba(20, 20, 20, 0.88) 75.52%,
      #141414 100%
    );
    pointer-events: none;
    transition-duration: var(--transition-duration);
  }

  &__button {
    @include abs-x;
    bottom: rem(60);
  }
}
