@use "../helpers" as *;

.hero-alt {
  &__header {
    padding-top: rem(130);
    padding-bottom: rem(150);
    border-bottom: var(--border);

    @include laptop {
      padding-top: rem(80);
      padding-bottom: rem(100);
    }

    @include mobile {
      padding-block: rem(40);
    }

    &-inner {
      display: grid;
      row-gap: fluid(20, 14);
      column-gap: fluid(80, 60);
      align-items: center;

      @include mobile-above {
        grid-template-columns: auto 1fr;
      }
    }
  }

  &__title {
    grid-column: -1/1;

    &-hidden-part {
        @include mobile-above {
            @include visually-hidden;
        }
    }
  }
}
