@use "../helpers" as *;

.news-card {
  display: grid;
  row-gap: fluid(20, 14);
  height: 100%;

  &:has(.news-card__summary) {
    padding-block: fluid(80, 40);
    column-gap: rem(80);
    align-items: center;

    @include mobile-above {
      grid-template-columns: 32% 1fr;
      grid-template-areas:
        "image other"
        "image other"
        "image other";

      .news-card__image {
        grid-area: image;
      }
    }

    .news-card__image {
      height: fluid(427, 213);
    }

    .news-card__title {
      @include fluid-text(32, 20);

      font-family: var(--font-family-base);
      font-weight: 600;
    }

    @include mobile {
      column-gap: rem(40);
    }
  }

  &__image {
    border-radius: rem(12);
    width: 100%;
    height: rem(222);
    object-fit: cover;

    @include laptop {
      border-radius: rem(10);
      height: rem(185);
    }
  }

  &__body {
    display: grid;
    row-gap: rem(10);

    @include laptop {
      row-gap: rem(4);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__link {
    @include mobile-s {
      min-width: rem(150);
    }
  }
}
