@use "../helpers" as *;

.person-card {
  --imageWidth: rem(80);

  display: flex;
  align-items: center;
  column-gap: fluid(16, 8);

  @include laptop {
    --imageWidth: rem(60);
  }

  &__image {
    width: var(--imageWidth);
    border-radius: 50%;
    background-color: var(--color-dark-15);
  }

  &__body {
    display: grid;

    @include laptop-above {
      row-gap: rem(2);
    }
  }

  &__name {
    color: var(--color-light);
    font-weight: 600;
    font-size: rem(20);

    @include laptop {
      font-size: rem(18);
    }
  }
}
