@use "../helpers" as *;

.rating {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;

  display: inline-flex;
  column-gap: rem(7);
  padding: rem(10) rem(16);
  border-radius: rem(100);
  border: var(--border);
  background-color: var(--color-dark);

  @include laptop {
    column-gap: rem(4);
    padding: rem(8) rem(12);
  }

  &__star {
    --size: #{rem(24)};
    background: url("/icons/star-gray.svg") center/contain no-repeat;

    @include laptop {
      --size: #{rem(20)};
    }

    @include square(var(--size));

    &.is-active {
      background-image: url("/icons/star-yellow.svg");
    }
  }
}
