@use "../helpers" as *;

.resources {
  padding-left: rem(80);
  padding-bottom: rem(80);
  background: url(../images/hero-bg.png) 0 0 / cover no-repeat;
  display: flex;
  flex-direction: column;
  row-gap: rem(30);
  align-items: start;
  justify-content: end;

  @include laptop {
    padding-left: rem(50);
    padding-bottom: rem(50);
    row-gap: rem(20);
  }

  @include tablet-above {
    border-left: var(--border);
  }

  @include tablet {
    width: 100vw;
    margin-left: calc(var(--container-padding-x) * -1);
    padding: rem(100) rem(40) rem(40);
    background-size: contain;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(14);

    @include laptop {
      row-gap: rem(6);
    }
  }

  &__button {
    @include mobile-s {
      width: 100%;
    }
  }
}
