@use "../helpers" as *;

.video-player {
  position: relative;

  &__video {
    height: fluid(412, 210);
    width: 100%;
    object-fit: cover;
    border-radius: rem(12);

    @include laptop {
      border-radius: rem(10);
    }
  }

  &__panel {
    position: absolute;
    inset: 0;
    padding: rem(30);
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 1rem;
    transition-duration: var(--transition-duration);

    &:not(.is-active) {
      @include hide;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(
        180deg,
        rgba(20, 20, 20, 0) 44.27%,
        #141414 100%
      );
    }

    * {
        position: relative;
        z-index: 1;
    }
  }

  &__play-button {
    --size: #{rem(70)};

    @include laptop {
      --size: #{rem(50)};
    }

    @include square(var(--size));

    @include flex-center;

    @include hover {
        color: var(--color-accent);
    }

    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--color-light);
  }
}
