@use "normalize";
@use "fonts";
@use "utils";
@use "variables";
@use "globals";

@use "blocks/section";
@use "blocks/logo";
@use "blocks/button";
@use "blocks/icon";
@use "blocks/burger-button";
@use "blocks/header";
@use "blocks/tile";
@use "blocks/tag";
@use "blocks/badge";
@use "blocks/list";
@use "blocks/card";

@use "blocks/soc1als";
@use "blocks/footer";

@use "blocks/hero";
@use "blocks/metrics";
@use "blocks/resources";
@use "blocks/team";
@use "blocks/advantage-card";

@use "blocks/tabs";
@use "blocks/blog-actions";
@use "blocks/blog-card";
@use "blocks/person-card";

@use "blocks/download-info";

@use "blocks/bordered-grid";
@use "blocks/rating";
@use "blocks/review-card";

@use "blocks/about-card";
@use "blocks/about";

@use "blocks/summary";
@use "blocks/news";
@use "blocks/news-card";
@use "blocks/hero-alt";

@use "blocks/video-player";
@use "blocks/video-card";

@use "blocks/expandable-content";
@use "blocks/blog-details";
@use "blocks/table-of-contents";

@use "blocks/report-card";
